body {
    margin: 5px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    background-color: grey;
    padding: 2px;
    aspect-ratio: 1/1;
    height: min(calc(100vh - 10px), calc(100vw - 10px));
    width: min(calc(100vh - 10px), calc(100vw - 10px));
}